<div class="row mb-4 mx-1 card-body bg-secondary shadow rounded relative">
    <div class="ident text-dark">
        <span *ngIf="filterType==FilterType.Filter"><i class="fas fa-filter"></i> Filter</span>
        <span *ngIf="filterType==FilterType.Aggregation"><i class="fas fa-bezier-curve"></i> Aggregation</span>
        <span *ngIf="filterType==FilterType.Calculation"><i class="fas fa-divide"></i> Calculation</span>
    </div>
    <div class="col-5">
        <p class="text-light">
            <span>Column</span>
        </p>
        <select id="cap-slct-{{currentFilter.filterId}}" class="form-control bg-dark text-light shadow" [ngModel]="selectedCaptionFilter" (ngModelChange)="onChangeCaptionFilter($event)"> 
        </select>
    </div>
    <div class="col-2">
        <p class="text-light">Definition</p>
        <select id="define-{{currentFilter.filterId}}" class="form-control bg-dark text-light shadow" (change)="setFilterDefine($event)">
            <option selected *ngIf="filterType==FilterType.Filter">Equal</option>
            <option *ngIf="filterType==FilterType.Filter">Unequal</option>
            <option selected *ngIf="filterType==FilterType.Aggregation">Sum</option>
            <option *ngIf="filterType==FilterType.Aggregation">Average</option>
            <option selected *ngIf="filterType==FilterType.Calculation">Plus</option>
            <option *ngIf="filterType==FilterType.Calculation">Minus</option>
            <option *ngIf="filterType==FilterType.Calculation">Times</option>
            <option *ngIf="filterType==FilterType.Calculation">Divided</option>
        </select>
    </div>
    <div class="col-4">
        <p class="text-light">
            <span *ngIf="filterType==FilterType.Filter">Value</span>
            <span *ngIf="filterType!=FilterType.Filter">Column</span>
        </p>
        <select id="filter-slct-{{currentFilter.filterId}}" class="form-control bg-dark text-light shadow" [ngModel]="selectedFilter" (ngModelChange)="onChangeFilter($event)"> 
        </select>
        <div class="mt-2 float-right">
            <button class="btn btn-warning mr-2" (click)="Reset()" [disabled]="!selectedCaptionFilter||!selectedFilter">Reset</button>
            <button class="btn btn-danger" (click)="Delete()">Remove</button>
        </div>
    </div>
    <div class="col-1">
        <button class="btn btn-secondary mb-3" style="position: absolute; top: 0; right: 0;" (click)="Move(true)" [disabled]="first"><i class="fas fa-caret-up"></i></button>
        <button class="btn btn-secondary" style="position: absolute; bottom: 0; right: 0;" (click)="Move(false)" [disabled]="last"><i class="fas fa-caret-down"></i></button>
    </div>
</div>