<div class="row ml-5">
    <div>
        <label class="form-check-label">
                    <input type="checkbox" 
                    class="form-check-input" 
                    [checked]="log"
                    (change)="log=!log;draw();">Log scale
                  </label>
    </div>
    <div class="ml-5">
        <label class="form-check-label">
                    <input type="checkbox" 
                    class="form-check-input" 
                    [checked]="line"
                    (change)="line=!line;draw();">Line graph
                  </label>
    </div>
    <div class="ml-5">
        <label class="form-check-label">
                    <input type="checkbox" 
                    class="form-check-input" 
                    [checked]="labels"
                    (change)="labels=!labels;draw();">Show X labels
                  </label>
    </div>
    <div class="ml-5">
        <label class="form-check-label">
                    <input type="checkbox" 
                    class="form-check-input" 
                    [checked]="automargin"
                    (change)="automargin=!automargin;draw();">Auto margin axis
                  </label>
    </div>
</div>
<!--<plotly-plot [data]="graph.data" [layout]="graph.layout" [style]="{position: 'relative', width: '100%', height: '100%', color: '#fff'}"></plotly-plot> style="min-height: 770px;"-->
<div id="mainPlot" style="min-height: 770px; height: 100%;"></div>