<div class="modal fade" id="addSourceModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h4 class="modal-title">Add additional source to {{location}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="!error&&!success">
                    <p>URL to .csv file</p>
                    <input class="form-control bg-dark text-light" [ngModel]="url" (ngModelChange)="onChangeUrl($event)" placeholder="https://*.csv">
                    <input class="form-control bg-dark text-light mt-4" type="file" (change)="fileEvent($event)" placeholder="Upload CSV or JSON file">
                    <p class="text-center"><i *ngIf="loading" class="fas fa-spinner fa-3x spin mt-5 text-info"></i></p>
                    <div *ngIf="newSource&&!loading">
                        <app-dynamic-table [uniqueId]="1337" [source]="newSource"></app-dynamic-table>
                    </div>
                </div>
                <div *ngIf="error&&!success">
                    <div class="alert alert-danger">
                        <strong>Error!</strong> There was a server error while trying to process your source
                    </div>
                </div>
                <div *ngIf="!error&&success">
                    <div class="alert alert-success">
                        <strong>Success!</strong> your source has been added to {{location}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="!error&&!success">
                    <button class="btn btn-success" (click)="sendSource()" *ngIf="!newSource" [disabled]="(!url || url.length <= 10|| !url.startsWith('http')) && !fileSelected"><i class="fas fa-share"></i> Send request</button>
                    <button class="btn btn-danger mr-5" *ngIf="newSource" (click)="newSource=null"><i class="fas fa-times-circle"></i> Discard</button>
                    <button class="btn btn-success" *ngIf="newSource" (click)="saveSource()"><i class="fas fa-check-circle"></i> Looks good</button>
                </div>
                <div *ngIf="success">
                    <button class="btn btn-success" type="button" data-dismiss="modal">Done.</button>
                </div>
                <div *ngIf="error">
                    <button class="btn btn-warning" type="button" data-dismiss="modal" (click)="error=false;">Please try again later</button>
                </div>
            </div>
        </div>
    </div>
</div>