<div class="row">
  <div class="col-12">
    <google-chart [type]="chartType" (select)="chartValueSelected($event)" [options]="chartOptions"
      [data]="googleChartData" [columns]="googleChartColumns" [dynamicResize]="true"
      style="width: 120%; margin-left: -7%; height: 65vh; margin-top: -2vh; z-index: -1000;"></google-chart>
  </div>
</div>
<div *ngIf="selectedDataPoints&&selectedDataPoints.length>0" class="WholePage" (click)="selectedDataPoints=[];">
</div>
<div class="SelectedValues card bg-secondary text-light shadow fade mt-5"
  [class.show]="selectedDataPoints&&selectedDataPoints.length>0">
  <div *ngIf="selectedDataPoints&&selectedDataPoints.length>0">
    <div class="card-header bg-secondary">
      <h3><span class="badge badge-primary badge-pill badge-primary" style="min-width: 300px;">
        {{selectedDataPoints[0].point.caption}}</span></h3>
      </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-secondary d-flex justify-content-between align-items-center"
          *ngFor="let p of selectedDataPoints">
          {{p.name}}
          <h5><span class="badge badge-primary badge-info">{{p.point.value}}</span></h5>
        </li>
      </ul>
    </div>
  </div>
</div>
