<router-outlet></router-outlet>
<div *ngIf="!configs">
  <h2 class="text-center text-light">Please wait, data is loading...</h2>
  <i class="fas fa-spinner" class="spin"></i>
</div>
<div class="container-fluid d-flex h-100 flex-column">
  <div class="row mt-5 h-100 flex-grow-1" style="display:flex;">
    <div class="col-lg-3 col-md-3 col-sm-12 taller float-left">
      <app-general-info *ngIf="data" [data]="data"></app-general-info>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 float-right">
      <app-search-bar *ngIf="configs" [configs]="configs" (data)="ChangeConfig($event)"
        (config)="config=$event">
      </app-search-bar>
      <div *ngIf="data" class="card bg-dark text-light shadow mt-2">
        <div class="card-header">
          <h4>{{currentTitle}}</h4>
        </div>
        <div class="card-body" style="height: 75vh;">
          <!--<app-basic-plot [dataPoints]="[data.dataPoints]" style="display: none;"></app-basic-plot>-->
          <div class="row">
            <div class="col-1">
                <div class="form-group">
                    <label>Filter</label>
                    <br>
                <button type="button" class="btn btn-primary" style="cursor: pointer; z-index: 10;" data-toggle="modal" data-target="#DataPointFilter">
                    <i class="fas fa-filter"></i>
                  </button>
                </div>
            </div>

            <div class="col-2">
                <label>Remove Data</label>
              <div class="form-group input-group">
                <select class="form-control bg-dark text-light" id="ChartDataCaptions">
                  <option *ngFor="let data of dataPoints; let first=first;" [attr.selected]="first">{{data.name}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-danger" (click)="RemoveChartData()"><i class="fas fa-ban"></i></button>
                </div>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                  <label>Chart Type</label>
                <select class="form-control bg-dark text-light" (change)="chartChange($event)">
                  <option value="AreaChart" selected>Area Chart</option>
                  <option value="LineChart">Line Chart</option>
                  <option value="ColumnChart">Column Chart</option>
                  <option value="AnnotationChart">Annotation Chart</option>
                  <option value="BubbleChart">Bubble Chart</option>
                  <option value="CandlestickChart">Candlestick Chart</option>
                  <option value="ComboChart">Combo Chart</option>
                  <option value="GanttChart">Gantt Chart</option>
                  <option value="PieChart">Pie Chart</option>
                </select>
              </div>
            </div>
          </div>
          <app-datapoint-filter [chartData]="filteredDataPoints" (filterData)="filterData($event)"></app-datapoint-filter>
          <app-google-basic-chart [chartData]="filteredDataPoints" [chartType]="chartType" [UniqueId]="UniqueId"></app-google-basic-chart>
        </div>
      </div>
      <div *ngIf="data" class="pl-5 mt-2 py-3 bg-dark text-light shadow">
        <div class="row text-center">
          <button class="btn btn-primary mr-3" [class.btn-success]="selectedValues[0]"
            (click)="GetData(0)">Cases</button>
          <button class="btn btn-primary mr-3" [class.btn-success]="selectedValues[1]"
            (click)="GetData(1)">Deaths</button>
          <button class="btn btn-primary mr-3" [class.btn-success]="selectedValues[2]" (click)="GetData(2)">New
            cases</button>
          <button class="btn btn-primary mr-3" [class.btn-success]="selectedValues[3]" (click)="GetData(3)">New
            deaths</button>
          <button class="btn btn-primary mr-3" [class.btn-success]="selectedValues[4]" (click)="GetData(4)">New
            tests</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data&&config" class="col-sm-12 col-md-12 my-5 card bg-dark text-light shadow">
    <div class="card-header">
      <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addSourceModal"><i
          class="fas fa-plus-circle"></i> Add source</button>
    </div>
    <div class="card-body" *ngIf="data.info">
      <div *ngFor="let source of config.addedSources; let i = index;" class="mb-4">
        <button type="button" class="btn btn-light" data-toggle="collapse" [attr.data-target]="'#info' + i"><i
            class="fas fa-table"></i> {{source.source}}</button>
        <div id="info{{i}}" class="collapse">
          <app-added-source [source]="source" (newSource)="externalSource($event)" (newTitle)="currentTitle=$event"
            [uniqueId]="i.toString()"></app-added-source>
        </div>
      </div>
    </div>
  </div>
</div>
<app-source-add-modal *ngIf="data&&data.config&&data.config.iso_code" [location]="data.config.location"
  [iso_code]="data.config.iso_code" (successful)="ReloadConfig($event)"></app-source-add-modal>
